/* CSS */
@media screen and (max-width: 600px) {
    .form, .form-group {
      width: 100% !important;
      max-width: 100% !important;
    }
  }

/* Style pour les écrans d'ordinateur */
@media (min-width: 768px) { /* 768px est généralement la taille à laquelle on passe aux styles de bureau */
    .form {
        width: 60%;
        margin: 0 auto;
    }
}